.footer {
    width: 83%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--main-color);
}

.footer__container {
    padding: 20px 0 20px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__form-container {
    display: flex;
    flex-direction: column;
    width: 36%;
    margin-top: 20px;
}

.footer__form-span-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    gap: 18px;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 8px;
}

.footer__form-span {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.footer__form-span-accent {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__social-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 39px;
    gap: 10px;
}

@media screen and (max-width:1280px) {
    .footer__container {
        justify-content: center;
    }
    .footer__form-span {
        font-size: 11px;
        line-height: 14px;
    }

    .footer__form-span-accent {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__form-span-container {
        padding: 0 0 0 20px;
        height: 50px;
    }
    .footer__container {
        padding: 20px 0;
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .footer__form-container {
        width: fit-content;
    }
    .footer__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .footer__form-span-container {
        justify-content: center;
    }
}

@media screen and (max-width: 560px) {
    .footer {
        width: 100%;
    }

    .footer__form-span-accent {
        font-size: 10px;
        line-height: 12px;
    }

    .footer__form-span {
        font-size: 8px;
        line-height: 10px;
    }
}